/*Main*/

@mixin etiA {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;
        color: rgb(195, 240, 255);
}

main {
        .carousel-inner {
        max-height: 350px;
        }

        
        .parrafo {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important;
        font-size: 25px;
        }

        .imgProye {
                width: 300px;
                height: 250px;
        }

        .aProye {
                @include etiA;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;

        }

        .formacion {
                text-decoration: none !important;
                }

        .visitaCoder {
                @extend .formacion;
                @include etiA;
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
        }

        .formacionCoder {
                text-decoration: none;
                text-transform: uppercase;
                font-size: 1rem;
                color: rgb(195, 240, 255) !important;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        }

}