/*Main*/

main {
        .carousel-inner {
        max-height: 350px;
        }

        
        .parrafo {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  !important;
        }

        .imgProye {
                width: 300px;
                height: 250px;
        }

        .aProye {
                text-decoration: none;
                text-transform: uppercase;
                color: rgb(204, 0, 255);
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
        }
}